@import "../abstract/color";

.projectDescriptionContainer{

}
.projectDescription{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 200;
    text-shadow: 0rem 0rem 1rem $primarydull;

}