@import "../abstract/color";

.changingText{
    width: 10rem;
    height: auto;
    overflow-x: scroll;
    text-shadow: rgb(200,200,200) 0rem 0rem 1rem;
}
.changingTextDiv{
    width: 10rem;
    height: auto;
}