@import '../abstract/_color.scss';
@import '../abstract/_fonts.scss';

.dividingLabelDiv {
  display: flex;
  flex-flow: row;
  padding-bottom: 0rem;
  padding-top: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  z-index: 0;
}
.dividingLabelText {
  font-family: CarbonBl;
  font-size: 4rem;
  color: $primarydull;
  margin-bottom: 0rem;
  margin-top: 0rem;
  position: relative;
  padding-top: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  font-weight: 900;
  text-shadow: 0rem 0rem 0.5rem $primarybright;
  color: black;
  letter-spacing: 0.1rem;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 2.5s linear infinite;
  background-clip: text;
  -webkit-text-fill-color: $normalprimary;
}
@keyframes animate {
  0% {
    background-position: -500%;
    opacity: 70%;
    text-shadow: 0rem 0rem 0.5rem $primarybright;
  }
  50% {
    opacity: 100%;
    text-shadow: 0rem 0rem 1rem $normalprimary;
  }
  100% {
    background-position: 500%;
    opacity: 70%;
    text-shadow: 0rem 0rem 0.5rem $primarybright;
  }
}
@font-face {
  font-family: DigitalFont;
  src: url('../fonts/carbon-phyber.ttf');
}

@media screen and (max-width: 700px) {
  .dividingLabelText {
    font-size: 2rem;

    margin-left: 1rem;
    text-shadow: 0rem 0rem 1rem $normalprimary;
  }
}

.container {
  position: relative;
}

.glitch {
  color: $darkestwhite;
  position: relative;
  font-family: CarbonBl;
  font-size: 4rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  position: relative;
  padding-top: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  font-weight: 900;
  text-shadow: 0rem 0rem 0.5rem $darkestblack;

  letter-spacing: 0.1rem;
  overflow: hidden;

  background-clip: text;
  -webkit-text-fill-color: $darkestwhite;
  font-size: 3rem;
  // margin: 70px 200px;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 $darkestblack;

  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse,
    glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 $darkestblack;

  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
    opacity: 50%;
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
    opacity: 100%;
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);

      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: '';

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.glow {
  @extend .glitch;

  color: transparent;
  position: absolute;
  top: 0;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  color: rgba(165, 141, 141, 0.4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
