@import "../abstract/color";
.diagnosticsContainer{
    display: flex;
    flex-flow: row nowrap;

    z-index: 0;
    background-color: $darkestblack;
    width: 40%;
    padding: 0.5rem;
    align-items: flex-start;
    height: auto;
    line-height: 100%;
    animation: diagnosticsContainerAnimationRev 0.25s;
    
}
.diagnosticsContainer:hover{
    line-height: 150%;
   
    animation: diagnosticsContainerAnimation 0.5s;
}
@keyframes diagnosticsContainerAnimation{
    0%{
        line-height: 100%;

    }
    100%{
        line-height: 150%;
    }
}
@keyframes diagnosticsContainerAnimationRev{
    0%{
        line-height: 150%;
    }
    100%{
        line-height: 100%;
    }
}

.diagnosticsDisplay{
    
}