@import "../abstract/color";

.profileTraitsContainer{
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem;
    background-color: $darkestblack;
    grid-gap: 2rem;
    height:auto;
    
    width: 100%;
    

    justify-content: start;
    text-align: center;
}
.traitIcon{
    text-align: center;
    
  
}
.traitTitle{
    align-items: center;
    font-size: 1rem;
    
}
.traitIconDiv{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 3rem;
    color: $darkestwhite;
    justify-content: center;
}

@keyframes traitContainerTraitDescriptionHover{
    0%{
        opacity: 0%;
        transform: scale(0%);
    }
    100%{
        opacity: 100%;
        transform: scale(100%);
    }
}
@keyframes traitContainerTraitTitleHover{
    0%{
        transform: scale(0%);
 
        opacity: 0%;
        
       
    }
    100%{
        transform: scale(100%);
      
        opacity: 100%;
     
    }
}
@keyframes traitContainerHover{
    0%{
        transform: scale(120%);
        border: 0.1rem solid rgba(0, 0, 0, 0);    
        z-index: 5;
        background-color: $darkerblack;
    }
    100%{
        transform: scale(100%);
        z-index: 25;
        background-color: $darkblack;
    }
}
@keyframes traitContainerHoverRev{
    0%{
        transform: scale(0%);
        background-color: $darkerblack;
        border: 0.1rem solid $normalprimary;    
    
    }
    100%{
        transform: scale(100%);
        background-color: $darkerblack;
        border: 0.1rem solid rgba(0, 0, 0, 0);    
     
    }
}
.traitContainer{
    background-color: $darkerblack;
    padding: 0.5rem 1.5rem;
    box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(0,0,0), -0.5rem -0.5rem 1rem 0rem $darkerblack;
    width: 21vh;
    height: 80%;
    animation: traitContainerHoverRev 0.3s;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content:flex-start;
    text-align: center;
    z-index: 5;
    transition: all 0.3s ease-in;
    border: 0.1rem solid rgba(0, 0, 0, 0);    
    
}
.traitContainer:hover{
    background-color: $darkblack;
    color: $darkestblack;
    z-index: 25;
    transition: all 0.3s ease-in;
    border: 0.1rem solid $normalprimary;    
    animation: traitContainerHover 0.5s;
 
    .traitDescription{
     
        animation: traitContainerTraitDescriptionHover 0.4s;
    }
    .traitTitle{
        color: $normalprimary;
        content: "";
        
        transition: all 0.15s ease-in-out;
        animation: traitContainerTraitTitleHover 0.3s;
    }
    .traitIcon{
    
        animation: traitContainerTraitDescriptionHover 0.3s;
 
    }
}
.traitTitle::after{
    position:absolute;
    position: absolute;
	content: "";
	width: 0%;

	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}
.traitDescription{
    align-items: center;

    width: 100%;
    font-size: 1rem;
    color: $darkestwhite;
}



@media screen and (max-width: 700px){
    .profileTraitsContainer{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 0rem;


    }
    .traitContainerWrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
    
    }
    .traitContainer{
        width: 100%;
    }
    
}