@import "../abstract/color";
@import "../abstract/fonts";
.blogPageWrapper{
    line-height: 2rem;
}
.blogPageTitleDiv{
    font-size: 3rem;
    text-align: center;
    width: 100%;
    line-height: 4rem;
    font-family: Fyodor;
    text-shadow: 0rem 0rem 1rem $normalprimary;
}
.blogPageIntroDiv{
    font-weight: 100;
    padding: 0rem 5rem;
    letter-spacing: 0.15rem;
    color: $darkestwhite;

}
.blogPageBodySectionsDiv{
    padding: 0rem 2.5rem;
}
.blogPostBodySectionDiv{

}
.blogPostBodySectionHeaderDiv{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0rem;
    text-shadow: 0rem 0rem 1rem $normalprimary;
}
.blogPostBodySectionHeader{

}
.blogPostBodySectionBodyDiv{

}
.blogPostBodySectionBody{
    font-size: 1rem;
}




@media screen and (max-width: 700px){
    .blogPageWrapper{
        margin-left: 0rem;
        width: 22rem;
        height: auto;
        margin-top: 15rem;
        overflow-x: hidden;

    }
    .blogPageTitleDiv{
        font-size: 2rem;
        text-align: center;
        width: 100%;
        line-height: 4rem;
        font-family: Fyodor;
        text-shadow: 0rem 0rem 1rem $normalprimary;
    }
    .blogPostBodySectionHeaderDiv{
        font-size: 1.5rem;
    }
    .blogPageIntroDiv{
        padding: 0rem 0rem;
        text-align: center;
    }
}