@import "../abstract/color";
.diagnosticsContainer{
    display: flex;
    flex-flow: row nowrap;

    z-index: 0;
    background-color: $darkestblack;
    min-width: 21rem;
    padding: 0.5rem;
    align-items: center;
    height: auto;
    
}

.diagnosticsDisplay{
    
}