@import "../abstract/color";

.profileTechContainer{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
    align-items: center;
    box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(20,20,20), inset 0.5rem 0.5rem 1rem 0rem rgb(0,0,0);
    background-color: $darkerblack;
    min-height: 20rem;
    grid-gap: 1rem;

    max-width: 78.4rem;
    
    
}
.wrapper{
    
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}
.labelContainer{

    width: fit-content;
    padding: 0rem 0.5rem;
    color: $darkestwhite;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 100;
    font-size: 0.8rem;
   

}
.label{

}
.techEntryContainer{
    text-align: center;
    background-color: $darkerblack;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0.5rem 0.5rem 1rem 0rem $darkestblack, -0.5rem -0.5rem 1rem 0rem $darkblack;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.25rem;
    justify-content: space-evenly;
    min-width: 5rem;
    border-radius: 10%;
}
.techIcon{
    font-size: 2.5rem;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background-color:$primaryseethrough ;
}

/* Handle */
::-webkit-scrollbar-thumb {
background-color:$primarydull;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background-color:$primarybright;
}
