@import "../abstract/color";

.profileLayoutWrapper{
    overflow-y:scroll;
    height: 100%;
    position: fixed;
    
    
}
@media screen and (max-width: 700px){
    .profileLayoutWrapper{
        height: 37rem;
        position: relative;
        margin-bottom: 0rem;
        
   
        
    }
}