@import "../abstract/color";

.profileIntroContainer{
    display: flex;
    flex-flow: row nowrap;
    
}
.introTitleWrapper{
    width: fit-content;
    padding: 0rem 0.5rem;
    color: $darkestwhite;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 100;
    font-size: 0.8rem;
   
}
.title{
    font-size: 0.8rem;
}