@import "../abstract/color";

.profileTraitsContainer{
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem;
    background-color: $darkestblack;
    grid-gap: 1rem;
    height:auto;
    
    width: auto;
    
    max-width:55rem;
    justify-content: start;
    text-align: center;
}
.traitIcon{
    text-align: center;
    
  
}
.traitTitle{
    align-items: center;
    
    
}
.traitIconDiv{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 3rem;
    color: $darkestwhite;
    justify-content: center;
}
.traitContainer{
    background-color: $darkerblack;
    padding: 1.5rem;
    box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(0,0,0), -0.5rem -0.5rem 1rem 0rem $darkerblack;
    width: 10rem;
   
    height: 13.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    text-align: center;
  
    
}
.traitContainer:hover{
    background-color: $primarydull;
    color: $darkestblack;
    .traitDescription{
        color: $darkerblack;
    }
    .traitTitle{
        color: $darkerblack;
    }
    .traitIcon{
        color: $darkerblack;
    }
}
.traitDescription{
    align-items: center;
    height: 10rem;
    width: 100%;
    color: $darkestwhite;
}



@media screen and (max-width: 700px){
    .profileTraitsContainer{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 0rem;


    }
    .traitContainerWrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        max-width: 700px;
        width: 100%;
    
    }
    .traitContainer{
        width: 100%;
    }
    
}