@import "../abstract/color";

.animatedComingSoonTyper{
    font-size: 20rem;
}
.animatedComingSoonTyperDiv{
    display: flex;
    justify-content: center;
    height: 10rem;
    
    width: stretch;
    margin-right: 0rem;
    padding-right: 0rem;
    text-align:center;
}
.comingSoonLayoutWrapper{
    width: 67.75rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 45rem;
    background-image: url("./black_abstract.jpg");
    background-size: cover;
    
}
.comingSoonActionPrompt{
    text-align: center;
    text-transform: uppercase;
   
    letter-spacing: 0.3rem;
    color: $normalprimary;
    background-color: rgb(5,5,5,0.6);
}
.emailFormDiv{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}




@media screen and (max-width: 700px){
    .comingSoonLayoutWrapper{
        width: 22.5rem;
        height: 24rem;
        padding:0.5rem;
        margin-top: 12rem;
        overflow-y: scroll;
        margin-left: 0rem;
        padding-left: 0rem;
    }
    .animatedComingSoonTyper{
        left: 0rem;
        position: relative;
        margin-left: 0rem;
        padding-left: 0rem;
    }
    .emailFormDiv{
        width: 50%;

    }
    .emailFormDivWrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}