@import "../abstract/color";

.listWrapper{
    box-shadow: 0.5rem 0.5rem 1rem 0rem $darkestblack, -0.5rem -0.5rem 1rem 0rem $darkblack;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    border-radius:  0% 0% 10% 10%;
    grid-gap: 1rem;
    
}
.titleWrapper{
    text-align: center;
    
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    font-weight: 100;
    padding: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: $darkestblack;
    background-color: $primarydull;
   
}

.itemsListTitle{
    text-align: center;
}
.itemsWrapperWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.itemsWrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    grid-gap: 1rem;
    height: 25rem;
    overflow-y: scroll;
    padding: 1rem;
    
}

@keyframes listItemDivHover{
    0%{
        border: 0.05rem solid rgb(5,5,5,0);
        box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(5,5,5,0), -0.5rem -0.5rem 1rem 0rem rgb(5,5,5,0);
        transform:scale(100%);
    }
    100%{
        border: 0.05rem solid $darkblack;
        box-shadow: 0.5rem 0.5rem 1rem 0rem $darkestblack, -0.5rem -0.5rem 1rem 0rem $darkblack;
        transform: scale(105%);
    }
}
.listItemDiv{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    border: 0.05rem solid rgb(5,5,5,0);
    padding: 1rem;
    align-items: center;
    width:25rem;
    
    box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(5,5,5,0), -0.5rem -0.5rem 1rem 0rem rgb(5,5,5,0);
    transform:scale(100%);
    animation: listItemDivHover 0.5s reverse;
    
    
}
.listItemDiv:hover{
    animation: listItemDivHover 0.5s;
    border: 0.05rem solid $darkblack;
    box-shadow: 0.5rem 0.5rem 1rem 0rem $darkestblack, -0.5rem -0.5rem 1rem 0rem $darkblack;
    transform: scale(105%);
}

.itemIcon{
    font-size: 3rem;
    text-align: center;
}
.itemText{
    font-size: 0.8rem;
    width: 50%;
}




@media screen and (max-width: 700px){
    .listItemDiv{
        width: auto;
        margin-right: 0rem;
        right: 0rem;
        max-width: 700px;

    }
    .itemText{
        
    }
    .listWrapper{
        width: 80%;
        
    }
    .itemIcon{
        font-size: 1.5rem;
    }
    .itemsWrapper{
        width: auto;
    }
    .listWrapperWrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}