@import "../abstract/color";

.resumeDownloadBtnWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.resumeDownloadBtnLink{
    text-align:center;
    text-decoration: none;
    
}
.resumeDownloadBtnDiv{
    font-size: 0.65rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    grid-gap: 0.5rem;
    color: $darkestwhite;
    border: 0.1rem solid $darkestwhite;
    padding: 0rem 1rem;
}
.resumeDownloadBtnDiv:hover{
    background-color: $primarydull;
    color: $darkestblack;
 
    border: 0.1rem solid $normalprimary;
    box-shadow: 0rem 0rem 0.5rem 0rem $normalprimary;
}
.resumeDownloadBtn{
    
}
.resumeDownloadIcon{
    font-size: 1rem;
}