@import "../abstract/color";
@import "../abstract/fonts";

.collapsed{
    width: 0rem;
    z-index:0;
    visibility: hidden;

}
.mainMainWrapper{
    z-index: 20;

}
.name{
    font-family: Digitatron;
    color: $normalprimary;
    padding-bottom: 0rem;
    text-shadow: 0rem 0rem 1rem $primarydull;
}
.sidebarWrapper{
    background-color: $darkerblack;
    position: sticky;
    left: 0rem;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: $darkestwhite;
    padding: 0.5rem;
    width: fit-content;
    z-index: 25;
    box-shadow: 0rem 0.5rem 2rem 0rem $darkestblack;
    
}
.sidebarOpenBtn{
   
   z-index: 50;
   background-color: $darkerblack;
   padding: 0rem;
   border: 0.1rem solid $darkestblack;
   position: fixed;
   color: $darkestwhite;
   right: 1rem;
   top: 0rem;
   font-size: 2rem;
   visibility: hidden;

}

@media screen and (max-width: 700px) {
    .sidebarWrapper {
        position: fixed;
        height: 100vh;
        width: 100%;
        backdrop-filter: blur(0.5rem);
        background-color: rgba(5,5,5, 0.6);
        -webkit-backdrop-filter: blur(10rem);
        z-index: 25;
        visibility: hidden;

      
    }
    .collapsed{
        visibility: visible;
        z-index: 25;
    }
    .sidebarOpenBtn{
        display:flex;
        z-index: 25;
        position: fixed;
        visibility: visible;
        
    }
    .mainNavContainer{
        position: fixed;
        overflow-y: scroll;
        overflow-x: scroll;
        top: 0rem;
        left: 0rem;
        height: 100%;
       
    }
    .tabsSection{
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        top: 0rem;
        margin-top: 0rem;
        
        
       
        
    }
    .introWrapper{
     
    }
    .introWrapperWrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .navItemWrapper{
        width: 10rem;
        
    }
}
@media screen and (max-width: 360px){
    .navItemWrapper{
        padding: 0.25rem 0.5rem;
        
    }
}
.introWrapper{
    display: flex column nowrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 13rem;
    grid-gap: 0rem;
    
}


.navItemWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    padding: 0.5rem 1rem;
    margin-left: 0rem;
    align-self: center;
    border: 0.05rem solid rgba(5,5,5,0);
    text-decoration: none;
    color: $darkestwhite;
    justify-self: center;
    
}
@keyframes navItemWrapperHover{
    0%{
        border: 0.05rem solid rgba(5,5,5,0);
    }
    25%{
        border: 0.05rem solid $darkblack;
        box-shadow: -0.5rem -0.5rem 0.5rem 0rem rgba(5, 5, 5, 0), inset 0.5rem 0.5rem 1rem 0rem rgba(30, 30, 30, 0), inset -0.5rem -0.5rem 1rem 0rem rgba(5, 5, 5, 0);
        color: rgb(17,17,17);
        transform: scale(120%) translateX(0.5rem);
        background-color: $darkblack;
        border-radius: 5% 5%;
    }
    100%{
        border: 0%;
        box-shadow: 0.5rem 0.5rem 1rem 0rem $darkerblack, -0.5rem -0.5rem 1rem 0rem rgb(17,17,17), inset 0.5rem 0.5rem 1rem 0rem $darkestblack, inset -0.5rem -0.5rem 1rem 0rem $darkerblack;        
        color: $normalprimary;
        border-radius: 0% 0%;
        background-color: rgba(5, 5, 5, 0);
        border: 0.05rem solid rgba(5, 5, 5, 0);
        transform: scale(100%) translateX(0rem); 
    }
    
}
.navItemWrapper:hover{
    animation: navItemWrapperHover 0.3s;
    color: $normalprimary;
    border: 0.05rem solid $darkestblack;
    box-shadow: 0.5rem 0.5rem 1rem 0rem $darkerblack, -0.5rem -0.5rem 1rem 0rem rgb(17,17,17), inset 0.5rem 0.5rem 1rem 0rem $darkestblack, inset -0.5rem -0.5rem 1rem 0rem $darkerblack;        
        
}
.navItemWrapperSelected{

    box-shadow: 0.5rem 0.5rem 1rem 0rem $darkerblack, -0.5rem -0.5rem 1rem 0rem rgb(17,17,17), inset 0.5rem 0.5rem 1rem 0rem $primarybright, inset -0.5rem -0.5rem 1rem 0rem $primarydull;        
    color: $darkestblack;
    font-weight: 900;
    border-radius: 0% 0%;
    background-color: $normalprimary;
   
    transform: scale(100%) translateX(0rem); 

}
.navItemWrapperSelected:hover{
    background-color: $normalprimary;
    color: $darkestblack;
    animation: none;
    box-shadow: 0.5rem 0.5rem 1rem 0rem $darkerblack, -0.5rem -0.5rem 1rem 0rem rgb(17,17,17), inset 0.5rem 0.5rem 1rem 0rem $primarybright, inset -0.5rem -0.5rem 1rem 0rem $primarydull;        
    font-weight: 900;
    border-radius: 0% 0%;
}

.icon{
    align-self: center;
    padding: 0rem 0.5rem;
    
}
.navItemTitle{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    padding: 0rem 0.5rem;
    text-decoration: none;
    
}
.socialWrapper{
    align-items: center;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.socialIcon{
    padding: 0.5rem;
    font-size: 1.25rem;
    border: 0.1rem solid rgba(5,5,5,0);
    color: $darkestwhite;
    
}
@keyframes Zoom{
    0%{
        transform: scale(100%);
        border-radius: 0%;
        border: 0.1rem solid rgba(5,5,5,0);
        color: $darkestwhite;

    }
    100%{
        transform: scale(125%);
        border-radius: 50%;
        color: $darkestblack;
        border: 0.1rem solid $normalprimary;
    }
}
.socialIcon:hover{
    background-color: $primarydull;
    color: $darkestblack;
    box-shadow: 0rem 0rem 0.5rem 0rem $normalprimary;
    transform: scale(125%);
    animation: Zoom 0.5s;
    border-radius: 50%;
    border: 0.1rem solid $normalprimary;
}
.navWrapper{
    
    margin-left: 0rem;
    
    display: flex column nowrap; 
    padding-left: 0rem;
    align-self: center;
    align-content: center;
    text-align: center;
    vertical-align: center;


    
    
}


/**/
.mainNavContainer{
    height: 100%;
    
    
    
}
.tabsSection{
    display: flex;
    flex-direction: row nowrap;
    height: 100%;
    justify-content: center;

}



.profilePic{
    border-radius: 50%;
    text-align: center; 
    max-width: 50%;
    height: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    
}


.sidebarCloseBtn{

}
