@import '../abstract/color';
@import '../abstract/fonts';
.changingText {
  width: 10rem;
  top: 0rem;
  font-size: 0.8rem;
  overflow-x: scroll;
  color: $darkestwhite;
  text-align: center;
  padding-top: 0rem;
  text-transform: uppercase;
  text-shadow: rgb(200, 200, 200) 0rem 0rem 1rem;
}
.changingTextDiv {
  padding: 2rem 0rem;
  padding-top: 0rem;
  top: 0rem;
}
