.ImgTabMetaWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: absolute;
  height: 100vh;
  top: 0rem;
  margin-top: 0rem;
  bottom: 0rem;
  padding-bottom: 0rem;
  left: 0rem;
  width: 100%;
  overflow-y: hidden;
}
