@import '../abstract/color';
@import '../abstract/properties';

.projectDetailsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 40%;
  background-color: $darkerblack;

  box-shadow: $darkblackboxshadow;
  border: 0.1rem solid $darkestblack;
}
.projectDetailMediaCarouselWrapper {
}
.projectDetailMediaCarousel {
}
.projectDetailsProjectDescriptionContainerWrapper {
  bottom: 0%;
  background-color: $darkestblack;
}

@media screen and (max-width: 700px) {
  .projectDetailsContainer {
    flex-flow: column;
    width: 100%;
  }
  .projectDetailMediaCarousel {
    width: 100%;
  }
  .projectPageHeader {
    display: flex;
    flex-flow: column nowrap;
  }
}
