@import '../abstract/color';
@import '../ProfileTech/profile-tech-container.scss';
.projectStackDiv {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(20, 20, 20),
    inset 0.5rem 0.5rem 1rem 0rem rgb(0, 0, 0);
  background-color: $darkerblack;
  width: 100%;
  grid-gap: 1rem;
}
.stackIcon {
}
@keyframes techEntryContainerHover {
  0% {
    background-color: $darkerblack;
    box-shadow: 0.5rem 0.5rem 1rem 0rem $darkestblack,
      -0.5rem -0.5rem 1rem 0rem $darkblack;
    color: $normalprimary;
  }
  100% {
    background-color: $primarydull;
    color: $darkestblack;
    box-shadow: 0rem 0rem 1rem 0rem $primaryseethrough;
    z-index: 20;
  }
}
.stackEntryDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  background-color: $darkerblack;
  box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(0, 0, 0),
    -0.5rem -0.5rem 1rem 0rem $darkestblack;
  border: 0.1rem solid $darkerblack;
  grid-gap: 0rem;
  align-items: center;
  text-align: center;
}
.stackEntryDiv:hover {
  animation: techEntryContainerHover 0.5s;
  color: $normalprimary;
  box-shadow: 0rem 0rem 1rem 0rem $primarydull;
  border: 0.1rem solid $normalprimary;
}

.iconDiv {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 4rem;
  align-items: center;

  margin-top: 0rem;
  top: 0rem;
}
.titleDiv {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 0.8rem;
  align-items: center;
  text-transform: uppercase;
  color: $darkestwhite;
}
.descriptionDiv {
  color: $darkestwhite;
  font-size: 0.6rem;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 0.3rem;

  flex-flow: row nowrap;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .projectStackDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .stackEntryDivWrapper {
  }
  .stackEntryDiv {
    width: 4rem;
    height: 4rem;
  }
  .titleDiv {
    font-size: 0.45rem;
    padding: 0rem;
    margin: 0rem;
  }
  .descriptionDiv {
    font-size: 0.45rem;
    letter-spacing: 0.15rem;
  }
  .iconDiv {
    font-size: 1.5rem;
  }
}
