@import '../abstract/color';

.subscribeForm {
}
.message {
  color: rgb(190, 0, 0);
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 900;

  font-size: 0.7rem;
  text-align: center;
}
.formRow {
  box-shadow: 0rem 0rem 1rem 0rem $normalprimary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.subscribeEmail {
  background-color: $darkerblack;
  color: $primarydull;
  border-color: $primarydull;
  padding: 0.5rem;
  width: 100%;
}
.button {
  padding: 0.5rem;
  background-color: $normalprimary;
  color: $darkestblack;
  border-color: $normalprimary;
}
