
$darkestblack: rgb(5,5,5);
$darkerblack: rgb(15,15,15);
$darkblack: rgb(25,25,25);

$primarydull: rgb(0, 177, 38);
$normalprimary: rgb(0, 255, 55);
$primaryseethrough: rgba(0, 255, 55, 0.452);
$primarybright: rgb(92, 255, 127);

$darkestwhite: rgb(180,180,180);



$normalsecondary: rgb(90, 1, 255);