@font-face {
  font-family: Fyodor;
  src: url('../fonts/Fyodor-BoldExpanded.ttf');
}
@font-face {
  font-family: ApexMk2;
  src: url('../fonts/ApexMk2-LightCondensed.otf');
}
@font-face {
  font-family: BebasKai;
  src: url('../fonts/BebasKai.otf');
}
@font-face {
  font-family: CarbonBl;
  src: url('../fonts/carbon-bl.ttf');
}
@font-face {
  font-family: CarbonPhyber;
  src: url('../fonts/carbon-phyber.ttf');
}
@font-face {
  font-family: DaggerSquare;
  src: url('../fonts/DAGGERSQUARE.otf');
}

@font-face {
  font-family: SixCaps;
  src: url('../fonts/SixCaps.ttf');
}
