@import "../abstract/_color.scss";
@import "../abstract/_fonts.scss";

.dividingLabelDiv{
    display: flex;
    flex-flow: row;
    padding-bottom:0rem;
    padding-top:0rem;
    margin-top:0rem;
    margin-bottom:0rem;
    z-indeX: 0;
}
.dividingLabelText{
    font-family: CarbonBl;
    font-size: 4rem;
    color: $primarydull;
    margin-bottom:0rem;
    margin-top:0rem;
    position: relative;
    padding-top: 0.5rem;
    text-transform: uppercase;
    width: 100%;
    font-weight: 900;
    text-shadow: 0rem 0rem 0.5rem $primarybright;
    color: black;
    letter-spacing: 0.1rem;
    overflow: hidden;
    background-color: rgb(0, 0, 0);    
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 2.5s linear infinite;
    background-clip: text;
    -webkit-text-fill-color: $normalprimary;
 
}
@keyframes animate {
    0% {
      background-position: -500%;
      opacity: 70%;
      text-shadow: 0rem 0rem 0.5rem $primarybright;
    
      
    }
    50%{
        opacity: 100%;
        text-shadow: 0rem 0rem 1rem $normalprimary;
    
    }
    100% {
      background-position: 500%;
      opacity: 70%;
      text-shadow: 0rem 0rem 0.5rem $primarybright;
    
    }
  }
@font-face{
    font-family: DigitalFont;
    src: url("../fonts/carbon-phyber.ttf");
}


@media screen and (max-width: 700px){
    .dividingLabelText{
        font-size: 2rem;
     
        margin-left: 1rem;
        text-shadow: 0rem 0rem 1rem $normalprimary;
    }
}