@import "../abstract/color";

.dividingLabelDiv{
    display: flex;
    flex-flow: row;
    padding-bottom:0rem;
    padding-top:0rem;
    margin-top:0rem;
    margin-bottom:0rem;
}
.dividingLabelText{
    font-family: DigitalFont;
    font-size: 4rem;
    color: $primarydull;
    margin-bottom:0rem;
    margin-top:0rem;
    padding-top: 0.5rem;
}
@font-face{
    font-family: DigitalFont;
    src: url("../fonts/East_Lift.ttf");
}


@media screen and (max-width: 700px){
    .dividingLabelText{
        font-size: 2rem;
        font-family: Fyodor;
        margin-left: 1rem;
        text-shadow: 0rem 0rem 1rem $normalprimary;
    }
}